@import '../../../variables.scss';
section.container-home { display: flex; justify-content: center; align-items: center; flex-direction: column; $widthHeight: 100%; width: $widthHeight; height: $widthHeight;
  header { display: block; overflow: hidden; width: 100%; background-color: $primaryMediumBlue;
    @media all and (min-width: 998px) { display: flex; justify-content: center; align-items: center; }
    @media all and (max-width: 998px) { display: block; }

    h3, button.add-button { margin: 25px; color: #fff;  }

    h3 { display: block; font-size: 22px; width: 100%;
      @media all and (max-width: 998px) { text-align: center; width: calc(100% - 40px); }
    }

    button.add-button { display: flex; justify-content: space-between; align-items: center; min-width: 210px; border: none; background-color: $primaryMediumGreen; font-size: 14px; padding: 0 20px; line-height: 26px; border-radius: 5px; transition: all 0.5s ease;
      @media all and (max-width: 998px) { width: calc(100% - 40px); justify-content: center; margin: 20px; }

      &:hover { background-color: darken($primaryMediumGreen, 10%); }

      img { width: 16px; display: block;
        @media all and (max-width: 998px) { margin-right: 10px; }
      }
    }
  }

  section.container-table { display: block; width: calc(100% - 4px); border: 2px solid $primaryMediumBlue; padding: 10px 0; overflow: auto; flex-grow: 1; max-height: 100%;
    table, th, td { border-bottom: 1px solid $secondaryMediumBlue; padding: 10px 0; }

    table { width: 100%; border-collapse: collapse;
      tr {
        td { text-align: center; max-width: 200px; overflow: hidden; word-break: break-word;
          ul.action-list { display: flex; justify-content: center; align-items: center; width: 100%; margin: 0; padding: 0;
            li.action-item { margin-right: 10px;
              button { border: none; background: transparent; display: block; width: 30px; height: 30px; border-radius: 50%; transition: all 0.5s ease;
                &:hover { background-color: #cdcdcd; }

                img { display: block; width: 100%; }
              }
            }
          }
        }
      }
    }
  }
}
