@import './variables.scss';

/* Generic styles */
html, body { display: block; $widthHeight: 100%; width: $widthHeight; height: $widthHeight; margin: 0; padding: 0; overflow: auto; position: relative;
  &, * { font-family: $fontGlobal; }
}

ul { list-style-type: none; }

button { cursor: pointer;
  &:focus { outline: none; }
}

section.container-modal { display: flex; justify-content: center; align-items: center; position: fixed; $widthHeight: 100%; width: $widthHeight; height: $widthHeight; z-index: 5; background-color: rgba(#000, 0.5); overflow: auto;
  section.modal { display: flex; justify-items: center; align-items: center; flex-direction: column; width: 500px; height: 500px; background-color: #fff; padding: 20px; position: relative; border-radius: 5px;
    section.container-content-modal, header, footer { display: block; width: 100%; }

    header {
      h5 { color: #585858; display: block; text-align: center; width: 100%; font-size: 16px; text-transform: uppercase; }
    }

    section.container-content-modal { flex-grow: 1; margin-bottom: 15px; overflow-y: auto; overflow-x: hidden; }

    footer { display: flex; justify-content: space-around; align-items: center;
      button { border: 1px solid #585858; width: 160px; background: transparent; color: #202020; font-size: 14px; line-height: 26px; border-radius: 40px; text-align: center; transition: all 0.3s ease;
        &:hover { background-color: #eee;
          &.save { background-color: darken($primaryMediumGreen, 10%); }

          &.delete { background-color: darken($primaryMediumRed, 20%); }
        }

        &.save { background-color: $primaryMediumGreen; color: #fff; }

        &.delete { background-color: darken($primaryMediumRed, 10%); color: #fff; }
      }
    }
  }
}
