@import './variables.scss';

/* Generic styles */
html, body { display: block; $widthHeight: 100%; width: $widthHeight; height: $widthHeight; margin: 0; padding: 0; overflow: auto; position: relative;
  &, * { font-family: $fontGlobal; }
}

ul { list-style-type: none; }

select,
select option,
input,
button { cursor: pointer;
  &:focus { outline: none; }
}

section.container-modal { display: flex; justify-content: center; align-items: center; position: fixed; $widthHeight: 100%; width: $widthHeight; height: $widthHeight; z-index: 5; background-color: rgba(#000, 0.5); overflow: auto;
  section.modal { display: flex; justify-items: center; align-items: center; flex-direction: column; width: 500px; height: 500px; background-color: #fff; padding: 20px; position: relative; border-radius: 5px;
    &.no-section { height: auto; }

    section.container-content-modal, header, footer { display: block; width: 100%; }

    header {
      h5 { color: #585858; display: block; text-align: center; width: 100%; font-size: 16px; text-transform: uppercase; }
    }

    section.container-content-modal { flex-grow: 1; margin-bottom: 15px; overflow-y: auto; overflow-x: hidden; }

    footer { display: flex; justify-content: space-around; align-items: center;
      button { border: 1px solid #585858; width: 160px; background: transparent; color: #202020; font-size: 14px; line-height: 26px; border-radius: 40px; text-align: center; transition: all 0.3s ease;
        &:hover { background-color: #eee;
          &.save { background-color: darken($primaryMediumGreen, 10%); }

          &.delete { background-color: darken($primaryMediumRed, 20%); }

          &:disabled { background-color: #eee; }
        }

        &.save { background-color: $primaryMediumGreen; color: #fff; }

        &.delete { background-color: darken($primaryMediumRed, 10%); color: #fff; }

        &:disabled { background-color: #eee; color: #585858; }
      }
    }
  }
}


form { display: block; width: 100%;
  section.section-input { position: relative; margin: 40px 0;
    &:last-of-type, &:first-of-type { margin: 25px 0; }

    p { display: block; width: 100%; position: relative;
      &.no-floating { display: flex; justify-content: flex-start; align-items: center;
        label { position: relative !important; top: 0 !important; left: 0 !important; margin-right: 15px; }
      }

      input { display: block; width: 100%; background-color: transparent; color: #585858; border: none; border-bottom: 1px solid #585858; line-height: 20px; font-size: 14px;
        &.error { border-color: $primaryMediumRed; }

        &.filled:not(.error) { border-color: $primaryMediumGreen; }
      }

      label { display: block; color: #585858; font-size: 14px; $lineHeight: 20px; line-height: $lineHeight; height: $lineHeight; position: absolute; pointer-events: none; transition: all 0.3s ease; }

      input:not(:focus) ~ label { bottom: 3px; left: 10px; font-size: 12px; }

      input.filled ~ label,
      input:focus ~ label { bottom: 25px; left: 0; }

      select { border: 1px solid #585858; width: 250px; background-color: transparent; height: 30px; border-radius: 20px; padding: 0 15px;
        option { transition: all 0.3s ease; color: #505050; }
      }
    }

    div.form-message { display: block; margin: 0; position: absolute; top: 100%; left: 0; margin-top: 5px; width: 100%;
      &.text-danger span { color: $primaryMediumRed; }

      span { display: block; width: 100%; font-size: 12px; $lineHeight: 14px; line-height: $lineHeight; height: $lineHeight; text-align: center; }
    }
  }
}
